


<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <!--<h1 class="display-4">Welcome to the <%= title %> page</h1> -->
      
      <header id="home">
        <div class="container-fluid header-content">
            <div class="row">
                <div class="col text-center">
                  <div class="content-box">  
                    <h4>Welcome to SurveySays</h4>
                    <h1>A leading On-line Attitude Survey Site<span class="element"></span> </h1>
                    <p>With our survey we observe the latest trends in buyer behavior that drive market dynamics in your industry</p>
                    <p>Gain a deeper understanding of your buyers and their behavior to drive adoption and purchases of your products or services</p>
                    <p>Measure demand for your products to refine your offerings at each step of the development process: ideation, development, go-to-market, and iteration</p>
                    <p>Inform future strategies</p>
                </div>
               </div>
           </div>
        </div>
      </header>


    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  
